
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:arial;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}
html, title, body {background: #000000; font-family: 'arial', helvetica, arial, sans-serif; font-size: 16px; color: #fca311;}

.clear {clear: both;}

p {
	font-size: 1em;
	line-height: 1.25em;
	margin-bottom: 20px;
	color: #f7fff7;
}

#profile {
	width: 90%;
	max-width: 1200px;
	background: #f1d302;
	margin: 60px auto;
}

.mainDetails {
	padding: 15px 25px;
	border-bottom: 2px solid #f7fff7;
	background: #14213d;
}

#name h1 {
	font-size: 2.75em;
	font-weight: 700;
	font-family: 'arial', Helvetica, Arial, sans-serif;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 2em;
	margin-left: 2px;
	font-family: 'arial', Helvetica, Arial, sans-serif;
}

#mainArea {
	padding: 0 60px;
}

#me {
	width: 12.5%;
	float: right;
	margin-right: 30px;
}

#me img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#Job img {

	width: 100%;
	height: auto;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	float: center;

}

#name {
	float: left;
}

#contactDetails {
	float: right;
}


#contactDetails ul {
	list-style-type: none;
	font-size: 1.5em;
	margin-top: 0.5px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #272727;
}

#contactDetails ul li a, a[href^=tel] {
	color: #272727; 
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#contactDetails ul li a:hover { 
	color: #baa898;
}

section {
	border-top: 1px solid #f4f1de;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 10px 0 10px;
}

.sectionTitle {
	float: left;
	width: 30%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	font-family: 'arial', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 2em;
	color: #d0cfcf;
}

.sectionTitle img {
	width: 100%;
}

.sectionContent h2 {
	font-family: 'arial', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.sectionContent img {
	border: 2px solid #f2cc8f;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;

}

@media all and (min-width: 602px) and (max-width: 800px) {
	#me {
		display: none;
	}

}

@media all and (max-width: 601px) {
	#profile {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
	
	#me {
		display: none;
	}
	
	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}
	
	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}
	
	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}
	
	section {
		padding: 15px 0 0;
	}
	
	#mainArea {
		padding: 0 25px;
	}
	
	#name h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
}

@media print {
    #profile {
        width: 100%;
    }
}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 2.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
}
 
.delayOne {
	-webkit-animation-delay: 0, .5s;
	-moz-animation-delay: 0, .5s;
	animation-delay: 0, .5s;
}

.delayTwo {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
}

.delayThree {
	-webkit-animation-delay: 0, 1.5s;
	-moz-animation-delay: 0, 1.5s;
	animation-delay: 0, 1.5s;
}

.delayFour {
	-webkit-animation-delay: 0, 2s;
	-moz-animation-delay: 0, 2s;
	animation-delay: 0, 2s;
}

.delayFive {
	-webkit-animation-delay: 0, 2.5s;
	-moz-animation-delay: 0, 2.5s;
	animation-delay: 0, 2.5s;
}
