
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:arial;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html, title, body {background: #3d405b; font-family: 'arial', helvetica, arial, sans-serif; font-size: 16px; color: #f2cc8f;}

.clear {clear: both;}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #faf3dd;
}

#profile {
	width: 90%;
	max-width: 800px;
	background: #3d405b;
	margin: 30px auto;
}

.mainDetails {
	padding: 25px 35px;
	border-bottom: 2px solid #ee6c4d;
	background: #293241;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'arial', Helvetica, Arial, sans-serif;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 2em;
	margin-left: 2px;
	font-family: 'arial', Helvetica, Arial, sans-serif;
}

#mainArea {
	padding: 0 40px;
}

#me {
	width: 9.5%;
	float: right;
	margin-right: 30px;
}

#me img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#Job img {

	width: 50%;
	height: auto;
	-webkit-border-radius: 20px;
	border-radius: 20px;

}

#name {
	float: right;
}

#contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 1px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #81b29a;
}

#contactDetails ul li a, a[href^=tel] {
	color: #81b29a; 
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#contactDetails ul li a:hover { 
	color: #e0fbfc;
}

//this is the lines around borders & boxes
section {
	border-top: 1px solid #ee6c4d;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 10px 0 10px;
}

.sectionTitle {
	float: left;
	width: 20%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	float: left;
	width: 20%;
	font-family: 'arial', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #f4f1de;
}

.sectionTitle img {
	width: 50%;
}

.sectionContent h2 {
	font-family: 'arial', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.sectionContent img {
	border: 2px solid #e0fbfc;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;

}

@media all and (min-width: 302px) and (max-width: 400px) {
	#me {
		display: none;
}

@media all and (max-width: 301px) {
	#profile {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
	
	#me {
		display: none;
	}
	
	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}
	
	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}
	
	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}
}

@media all and (max-width: 280px) {
	.mainDetails {
		padding: 15px 15px;
	}
	
	section {
		padding: 15px 0 0;
	}
	
	#mainArea {
		padding: 0 25px;
	}
	
	#name h1 {
		line-height: .8em;
		margin-bottom: 4px;
